*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --color-primary:#D81313;
    --color-secundary:#F2F2F2;
    --color-disabled:#808080;
}
header .container-fluid{
    text-align:center;
    display:flex;
    align-items:center;
}
header .logoProject{
    background:var(--color-primary);
    padding:50px;
    color:white;
    font-size:45px;
}
main{
    margin-top:40px;
}
main #selector_server .container{
    background: var(--color-secundary);
    border:1px solid black;
    text-align: center;
    width:40vw;
    border-radius:10px;
}
main #selector_server .selector-btns div a{
    text-decoration:none;
    color:var(--color-disabled);
}
main #selector_server .selector-btns a:hover{
    color:var(--color-primary);
}
main #selector_server .container .btn_selector-right{
    padding:10px;
    font-size:35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main #selector_server .container .btn_selector-left{
    padding:10px;
    font-size:35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
main #selector_server .container .active_btn{
    background:var(--color-primary);
}
main #selector_server .container a.active{
    color:white;
}
main #selecor_server .container a.active:hover{
    color:white;
}

main #form_connection .box-form{
    text-align:center;
    padding:50px;
}
main #form_connection .box-form form{
    width:40vw;
    margin:auto;
    text-align:left;
}
main #form_connection .box-form form div{
    padding:20px;
}
main #form_connection .box-form form label{
    display:block;
    color:var(--color-primary);
    font-family:25px;
} 
main #form_connection .box-form form input[type='text']{
    border:none;
    border-bottom: 1px solid var(--color-disabled);
    width:100%;
}
main #form_connection .box-form form input[type='text']:focus{
    outline:0;
    border-bottom: 1px solid var(--color-disabled);
    width:100%;
}
main #form_connection .box-form form .submit-box{
    text-align: center;
    margin-top:25px;
}
main #form_connection .box-form form input[type='button']{
    width:15vw;
    height:5vh;
    background:var(--color-primary);
    color:white;
    border:none;
    font-size:25px;
    display:block;
    margin:auto;
    margin-bottom:25px;
}
main #form_connection .box-form form .submit-box input[type='submit']{
    width:25vw;
    height:10vh;
    background:var(--color-primary);
    color:white;
    border:none;
    font-size:35px;
}
main #form_connection .box-form form .submit-box input[type='submit']:disabled, main #form_connection .box-form form .submit-box input[type='button']:disabled{
    background:var(--color-disabled);
    color:white;
}